<div class="sign-up-container">

    <form (ngSubmit)="onSubmit()" #form="ngForm">

        <mat-form-field appearance="fill">
            <mat-label>Name</mat-label>
            <input matInput type="text" name="name" [(ngModel)]="name" required>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Surname</mat-label>
            <input matInput type="text" name="surname" [(ngModel)]="surname" required>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Email</mat-label>
            <input matInput type="email" name="email" [(ngModel)]="email" required>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Password</mat-label>
            <input matInput type="password" 
                name="password" [(ngModel)]="password" required [minlength]="minLength">
        </mat-form-field>

        <button mat-raised-button 
            type="submit" class="btn" 
            [disabled]="!form.valid">
                Submit
        </button>

        <p>
            Already have an account?
            <span>
                <a routerLink="/login">Login</a>
            </span>
        </p>

    </form>

</div>