@import "util/variables";
@import "util/mixins";


footer{
    background:$background-color;
    height: 60px;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid $primary-color;
    position: relative;
    bottom: 0;

    p{  
        @include font-styles;        
        margin: 0;
    }
}