@import "util/variables";


p{
    text-align: center;
    color: $primary-color;
}

button{
    color: white;
    font-weight: 300;
    margin: 10px;

    &.confirm{
        color: $primary-color;
    }

    &.cancel{
        color: $warning-color;
    }
}
