<div class="confirmation-dialog-container">
    <p>
        Delete
        {{ dialogData | lowercase}}
        ?
    </p>

    <button
        class="confirm"
        mat-button
        type="button"
        (click)="onConfirm()">
            <mat-icon>done</mat-icon>
    </button>

    <button
        class="cancel"
        mat-button
        type="button"
        (click)="onCancel()">
            <mat-icon>close</mat-icon>
    </button>
</div>