<div class="quizz-container" >

    <ng-container *ngIf="quizz; else spinner">
        <div class="quizz-header">
            <a routerLink="/trainings"> Tests Page </a>
            <p>Category: {{quizz.category}}</p>
            <small class="small">score: {{score}}</small>
        </div>

        <div class="content-container">

            <app-question *ngIf="!showResult" [quizz]="quizz" [score]="score" [time]="time"
                (scoreEmitter)="increaseScore($event)" (showResult)="showResult = $event">
            </app-question>

            <app-result [score]="score" *ngIf="showResult">
            </app-result>

        </div>

        <p class="timer" *ngIf="!showResult">
            {{time}}
        </p>
    </ng-container>

    <ng-template #spinner>
        <mat-spinner></mat-spinner>
    </ng-template>

</div>