@import "util/variables" ;
@import "util/mixins";


.quizz-container{
    @include dFlex-colomn-justify-between;
    background: $light-shade-primary;
    padding:2rem 1rem;
    margin: 100px auto;
    min-height: 60vh;

    .quizz-header{
        @include dFlex-colomn-center;

        a{
            @include font-styles;
        }

        p{
            margin: 5px auto;
            color: $primary-color;
        }
        
        small{
            color: $primary-color;
        }
    }

}