<div class="tests-container" *ngIf="quizzArr">

  <ng-container *ngFor="let quizz of quizzArr;">

    <mat-card class="test-card" *ngIf="quizz.questions || isAdmin">

      <h2 class="title" (click)="onOpen(quizz)">{{ quizz.title }}</h2>
      <p class="sub-title">{{ 'category' | translate }} : {{ quizz.category }}</p>


      <mat-card-content>

        <p> {{ 'difficulty' | translate}} : {{ quizz.difficulty }}</p>
        <p class="author">{{ 'autor' | translate }}: {{ quizz.author }}</p>
        <p class="questions-count"> {{ 'questions' | translate }} : {{ quizz.numberOfQuestions }}</p>
        <p class="time">{{ 'time' | translate }} : {{ quizz.time }}</p>
        <p class="description"> {{ quizz.description }} </p>

      </mat-card-content>


      <mat-card-actions class="btn-container" *ngIf="router.url === '/trainings' && quizz.questions">

        <button (click)="onStart(quizz)" class="start-btn" 
          mat-raised-button *ngIf="quizz.questions.length > 0">
            {{ 'start' | translate }}
        </button>

      </mat-card-actions>

      

      <mat-card-actions class="btn-container" *ngIf="router.url === '/admin'">

        <button mat-raised-button type="button" class="edit-btn" (click)="onEdit(quizz)">
          {{ 'edit' | translate }}
        </button>

        <button mat-raised-button type="button" color="warn" (click)="deleteCheck(quizz)">
          {{ 'delete' | translate }}
        </button>

      </mat-card-actions>

    </mat-card>
  </ng-container>



  <div class="create-quizz-btn-container" *ngIf="router.url === '/admin'">

    <button type="button" mat-raised-button (click)="add()" class="create-quizz">
      <mat-icon>add</mat-icon>
        {{ 'createNew' | translate}}
    </button>

  </div>

</div>

<div class="spinner-container" *ngIf="!quizzArr">
  <mat-spinner></mat-spinner>
</div>