@import "../../../util/variables";
@import "../../../util/mixins";

.tests-container {
    @include dFlex-row-center;
    flex-wrap: wrap;

    .mat-card {
        margin: 1rem;
        height: 350px;
        max-width: 300px;
        background: $medium-light-primary;
        color: $primary-color;
        position: relative;

        h2.title {
            cursor: pointer;
            margin-bottom: 15px;
            font-size: 22px;
            letter-spacing: 2px;
            text-transform: uppercase;
            &:hover {
                text-decoration: underline;
            }
        }

        p.sub-title {
            font-weight: 300;
            font-size: 13px;
        }
        p {
            margin-bottom: 5px;
        }

        .btn-container {
            position: absolute;
            bottom: 25px;
            left: 25px;
            width: calc(100% - 32px);

            button {
                color: white;
                text-transform: capitalize;
            }

            .start-btn,
            .edit-btn {
                background: $primary-color;
                position: relative;
                bottom: 0;
            }

            .start-btn {
                letter-spacing: 2px;
                text-transform: uppercase;
                width: 100%;
            }
        }
    }
    .create-quizz-btn-container {
        display: flex;
        justify-content: center;
        padding: 1rem 0;
        margin-left: 0;
        color: white;

        button {
            color: white;
        }

        .create-quizz {
            border-radius: 1.2rem;
            border: 2px solid $primary-color;
            background: $primary-color;
            font-weight: 300;
        }
    }
}

.spinner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}
