<div class="question-body-container">

    <div class="quizz-question">
        <p>{{ currentQuestion.question }}</p>
    </div>
    
    <ul class="answers">
    
        <ng-container 
            *ngFor="let answer of currentQuestion.answerList | randomOrder">
                <li class="answer" [appHighlightAnswer]='answer.correct'
                    [answerAccepted]="answerAccepted"
                    (click)="selectAnswer(answer.correct)">
                        {{ answer.answerText }}
                </li>
        </ng-container>
    
    </ul>

    
    <button type="button" class="next-btn" 
        mat-raised-button (click)="next()"
        [disabled]="!answerAccepted">
            Next
    </button>


</div>