@import "util/variables";
@import "util/mixins";


.question-body-container{
    @include font-styles;

    .quizz-question{
        text-align: center;
        padding-bottom: 1rem;
    }

    ul{
        padding: 0;
        display: flex;
        flex-wrap: wrap;

        li{
            cursor: pointer;
            text-align: center;
            width: 90%;
            border: 1px solid white;
            list-style: none;
            margin:0 auto 5px;
            padding: .5rem;

            &:hover{
                background: rgb(255, 216, 108);
            }

            &.incorrect{
                background: rgb(236, 9, 9);
                color: white;

                &.hover{
                    background: rgb(236, 9, 9);
                }
            }
            
            &.correct{
                background: rgb(6, 224, 6);
                color: white;

                &.hover{
                    background: rgb(6, 224, 6);
                }
            }
            
        }
    }

    .next-btn{
        background: $primary-color;
        width: 20%;
        display: block;
        margin:10px auto;
        color: white;
    }
}
