@import "util/variables";
@import "util/mixins";

.create-quizz-container {
    min-width: 30vw;
    min-height: 40vh;
    padding: 1rem;
    background: $light-shade-primary;
    font-size: 18px;
    position: relative;

    form {
        display: flex;
        flex-direction: column;
        margin: 50px auto;
        width: 90%;
        color: white;

        mat-form-field {
            width: 100%;
        }

        .close-dialog-btn {
            position: absolute;
            right: 10px;
            top: 10px;
            background: none;
            border: none;
        }

        .question-container {
            margin-bottom: 50px;
        }

        .answer-group {
            @include dFlex-row-center;

            mat-checkbox {
                padding: 10px;
            }
        }

        .save-btn {
            display: block;
            margin-top: 2rem;
            padding: 0 2rem;
            background: $primary-color;
            text-transform: uppercase;
            letter-spacing: 2px;
            color: white;
        }
    }
}

.hidden {
    visibility: hidden;
}

small{
    position: absolute;
    bottom: 16px;
    left: 16px;
    color: $warning-color;
    font-style: italic;
}