<div class="create-quizz-container">
    <form (ngSubmit)="onSubmit()" [formGroup]="taskForm">

        
        <button mat-icon-button type="button" 
            (click)="onClose()" class="close-dialog-btn">
            <mat-icon>close</mat-icon>
        </button>

        
        <mat-form-field class="question-container">
            
            <mat-label>Question</mat-label>

            <input matInput 
                formControlName="question">

        </mat-form-field>

        <ng-container formArrayName="answerList">

            <div class="answer-group" 
                *ngFor="let answer of answers.controls; let i = index;" 
                [formGroupName]="i">

                <mat-checkbox color="primary"
                            (change)="isCheckboxRequired()"
                            [required]="checkboxRequired"
                            formControlName="correct"
                            [ngClass]="{hidden: !checkboxRequired && answer.value.correct === false}">
                </mat-checkbox>


                <mat-form-field appearance="fill" >

                <input matInput 
                    formControlName="answerText">

                </mat-form-field>

                <button mat-icon-button 
                    color="primary" type="button"
                    [disabled]="answers.controls.length <= 2"
                    (click)="remove(i)">
                    <mat-icon>delete_outline</mat-icon>
                </button>

            </div>
            
            <button mat-button color="primary" 
                class="add-answer" type="button" (click)="add()">
                Add answer
            </button>

        </ng-container> 

        <button mat-raised-button type="submit" 
            class="save-btn" [disabled]="!taskForm.valid">
                Submit
        </button>

    </form>

    <small [ngClass]="{hidden: !errorMsg }">
        {{ errorMsg }}
    </small>
    
</div>