<div class="mat-elevation-z8">


    <div class="filter-select-container">
        <span>Filter By:   </span>
            <select [(ngModel)]="selected">
                <option> {{titleFilter}} </option>
                <option> {{difficultyFilter}} </option>
                <option> {{categoryFilter}} </option>
            </select>
    </div>


    <mat-form-field appearance="fill">
        <input matInput (keyup)="applyFilter($event, selected)" #input>
    </mat-form-field>

    <table mat-table [dataSource]="dataSource" matSort>

        <ng-container matColumnDef="title">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Title </th>
            <td mat-cell *matCellDef="let row"> {{row.title}} </td>
        </ng-container>

        <ng-container matColumnDef="category">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Category </th>
            <td mat-cell *matCellDef="let row"> {{row.category}} </td>
        </ng-container>

        <ng-container matColumnDef="time">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Time </th>
            <td mat-cell *matCellDef="let row"> {{row.time}} </td>
        </ng-container>

        <ng-container matColumnDef="difficulty">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Difficulty </th>
            <td mat-cell *matCellDef="let row"> {{row.difficulty}} </td>
        </ng-container>

        <ng-container matColumnDef="score">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Score </th>
            <td mat-cell *matCellDef="let row"> {{row.score}} </td>
        </ng-container>



        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    </table>

    <mat-paginator [pageSizeOptions]="pageSizeOptions" aria-label="Select page of users"></mat-paginator>
</div>