@import "util/variables";

table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

td,
th {
  width: 25%;
}

.filter-select-container {
  width: 200px;
  padding: 10px;
  color: $dark-shade-primary;

  select {
    border: none;
    background: none;
    text-transform: capitalize;
    color: $dark-shade-primary;

    &:focus {
      outline: none;
    }
  }
}
