@import '~@angular/material/theming';

@import "util/variables";

@include mat-core();

$custom-primary: mat-palette($mat-green,600);
$custom-accent: mat-palette($mat-green,300);
$custom-warning: mat-palette($mat-red,400);

$custom-theme: mat-light-theme(
            $custom-primary,
            $custom-accent,
            $custom-warning,
);

@include angular-material-theme($custom-theme);
