@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import "util/variables";

html,
body {
  height: 100%;
  width: 100vw;
  background: $background-color;
  font-family: Roboto, "Helvetica Neue", sans-serif; 
}
html {
  overflow-x: hidden;

  ::-webkit-scrollbar {
    display: hidden;
  }
}

* {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;

  &::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }

  &::-webkit-scrollbar-thumb {
    background: $primary-color;
    border-radius: 10px;
  }

  &::-webkit-scrollbar-track {
    background: $light-shade-primary;
  }
}

#custom-dialog-container {
  &-profile,
  &-admin,
  &-info,
  &-quizz-edit-mode,
  &-create-task {
    padding: 0;
  }
}
svg {
  fill: white;
}

button:disabled {
  opacity: 0.5;
}

.mat-form-field-label {
  color: $dark-shade-primary;
}
.mat-form-field-ripple {
  background-color: $dark-shade-primary;
}

.mat-chip.mat-standard-chip.mat-chip-selected.mat-accent {
  color: white;
}

.mat-form-field-appearance-fill .mat-form-field-flex{
  background-color: rgba($color: black, $alpha: 0);
}


mat-card{

  .mat-card-header-text{
    margin-left:0;
  }

  p{
    color:$primary-color;
  }

}


span{
 
  &.mat-option-text{
    color:$primary-color;
  }

  &.mat-select-min-line{
    color:white;
  }
}
