@import "util/variables";

.info-container {
    margin: 100px auto 50px;
    background: $light-shade-primary;

    .mat-card {
        background: none;
    }

    .quizz-info-header {
        display: flex;
        justify-content: space-between;

        .edit-quizz-info-btn {
            background: none;
            border: none;
            cursor: pointer;
            display: flex;
            align-items: center;
            color: white;
            border-radius: 15px;
            position: absolute;
            right: 15px;
            top: 15px;

            &:hover {
                transition: all ease-in-out 0.5s;
                color: $dark-shade-primary;
            }

            span {
                margin-left: 5px;
            }
        }
    }

    .mat-card-header {
        .mat-card-title {
            color: $primary-color;
            font-weight: 400;
            font-size: 2rem;
        }

        .mat-card-subtitle {
            margin-top: 1rem;
            color: $primary-color;
            font-weight: 300;
            font-size: 1.1rem;
        }
    }

    .quizz-info-card-content {
        display: flex;
        color: $primary-color;

        img {
            width: 40%;
            height: 100%;
            min-height: 400px;
            padding-left: 1rem;
            border-radius: 10px;
            margin: 0;
            object-fit: cover;
        }

        .card-content {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;

            .status {
                text-transform: capitalize;
            }

        }
    }
}

.create-task-btn{
    background: $primary-color;
    color: white;
}