<div class="info-container" *ngIf="quizz">

    <mat-card class="quizz-info-card">

        <div class="quizz-info-header">

            <mat-card-header>

                <mat-card-title>{{ quizz.title }} </mat-card-title>

                <mat-card-subtitle>
                    Category: {{ quizz.category }}
                </mat-card-subtitle>

            </mat-card-header>

            <button type="button" class="edit-quizz-info-btn" 
                *ngIf="activeUser?.status === ADMIN_STATUS" (click)="openEditMode()">

                <mat-icon>edit</mat-icon>
                <span>Edit Quizz Info</span>

            </button>

        </div>


        <div class="quizz-info-card-content">

            <mat-card-content class="card-content">

                <p>Author {{ quizz.author }}</p>

                <p>Time: {{ quizz.time }}</p>

                <p>Difficulty: {{ quizz.difficulty }}</p>

                <p>Number of Questions {{ quizz.numberOfQuestions }}</p>

                <div class="about-section">

                    <p class="about">About:</p>

                    <p class="short-info">
                        {{ quizz.description }}
                    </p>

                </div>

            </mat-card-content>

        </div>

    </mat-card>

</div>


<ng-container *ngIf="activeUser?.status === ADMIN_STATUS && quizz" >

    <div class="create-task-btn-container">

        <button type="button" mat-raised-button (click)="openTaskDialog()" class="create-task-btn" >
            <mat-icon>add</mat-icon>
            Add Questions
        </button>

    </div>

    <app-questions-table
        [quizz]="quizz"></app-questions-table>

</ng-container>