<div class="sign-in-container">
    
    <form (ngSubmit)="onSubmit()" #form="ngForm">

        <mat-form-field appearance="fill"  class="email-input">
            <mat-label>Email</mat-label>
            <input matInput type="email" color="red" name="email" [(ngModel)]="email" required>
        </mat-form-field>

        <mat-form-field appearance="fill" class="password-input">
            <mat-label>Password</mat-label>
            <input matInput type="password" name="password" [(ngModel)]="password" required>
        </mat-form-field>

        <button mat-raised-button 
            type="submit" class="btn" 
            [disabled]="!form.valid">
                Submit
        </button>


        <small class="error-msg" *ngIf="errorMsg">
            {{errorMsg}}
        </small>
        
        <p>
            Have no account?
            <span>
                <a routerLink="/register">Register</a>
            </span>
        </p>

    </form>

    

</div>