@import "util/variables";

.sign-in-container{
    min-height:50vh;
    display:flex;
    flex-direction: column;
    align-items:center;
    color:$dark-shade-primary;

    form{
        display: flex;
        flex-direction: column;
        padding:2rem 1rem;
        border-radius:10px;
        max-width: 600px;
        min-width:400px;
        margin: auto;
        background:$light-shade-primary;
        color:white;

        .btn{
            color:white;
            background: $medium-light-shade-primary;
        }

        .error-msg{
            color: $warning-color;
            font-style: italic;
        }

        p{
            margin:10px 0 0;

            span{
                margin-left: 10px;

                a{  
                    color: white;
                    letter-spacing: 1px;

                    &:hover{
                        transition:all ease-in-out .5s;
                        color: $dark-shade-primary;
                    }
                }
            }
        }
    }
}

