<div class="dialog-container">

    <form (ngSubmit)="onSave()" #form="ngForm">

        <button mat-icon-button type="button" 
            (click)="onClose()" class="close-dialog-btn">
                <mat-icon>close</mat-icon>
        </button>

        <mat-form-field appearance="fill">

            <mat-label>Name</mat-label>
            <input matInput type="text" name="name" 
                [(ngModel)]="user.name" required>
                
        </mat-form-field>

        <mat-form-field appearance="fill">

            <mat-label>Surname</mat-label>
            <input matInput type="text" name="surname" 
                [(ngModel)]="user.surname" required>

        </mat-form-field>

        <mat-form-field appearance="fill">

            <mat-label>Contact Info</mat-label>
            <input matInput type="text" name="contactInfo" 
                [(ngModel)]="user.contactInfo" required>

        </mat-form-field>

        <mat-form-field appearance="fill">
            
            <mat-label>Date of birth</mat-label>
            <input matInput [matDatepicker]="picker" 
                [max]="today"
                name="dateOfBirth" [(ngModel)]="user.dateOfBirth"
                placeholder="mm/dd/year" required>

            <mat-datepicker-toggle matSuffix 
                [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>

        </mat-form-field>

        <mat-form-field appearance="fill">

            <mat-label>About</mat-label>
            <textarea matInput type="text" 
                name="about" required 
                [(ngModel)]="user.about"></textarea>

        </mat-form-field>


        <button mat-raised-button 
            type="submit" class="save-btn" 
            [disabled]="!form.valid">
                Submit
        </button>

    </form>

</div>