<div class="mat-elevation-z8">

    <div class="filter-select-container">

        <div class="form-control">

            <span>Filter By:   </span>
            <select [(ngModel)]="selected">
                    <option> {{nameFilter}} </option>
                    <option> {{surnameFilter}} </option>
                    <option> {{statusFilter}} </option>
            </select>

        </div>
        <mat-form-field appearance="fill">
            <input matInput (keyup)="applyFilter($event, selected)"  #input>
        </mat-form-field>
        


    <table mat-table [dataSource]="dataSource" matSort>

        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
            <td mat-cell *matCellDef="let row"> {{row.name}} </td>
        </ng-container>

        <ng-container matColumnDef="surname">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Surname </th>
            <td mat-cell *matCellDef="let row"> {{row.surname}} </td>
        </ng-container>
        
        <ng-container matColumnDef="score">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Score </th>
            <td mat-cell *matCellDef="let row"> {{row.score}} </td>
        </ng-container>

        <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
            <td mat-cell *matCellDef="let row"> {{row.status}} </td>
        </ng-container>



        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    </table>

    <button type="button" class="load-more"
        *ngIf="showBtn"
        (click)="onNext()">
            Load More...
    </button>
</div>
