@import "util/variables";

table {
    width: 100%;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  td,
  th {
    width: 25%;
  }
  
  .load-more{
    cursor: pointer;
    padding: .5rem;
    margin: auto ;
    display: block;
    background: none;
    border: none;
    color: $primary-color;
    text-align: center;

    &:hover{
      text-decoration: underline;
    }
  }

  .filter-select-container {
    width: 100%;
    padding: 10px;
    color: $dark-shade-primary;
  
    .form-control{
      select {
        border: none;
        background: none;
        text-transform: capitalize;
        color: $dark-shade-primary;
    
        &:focus {
          outline: none;
        }
      }
    }

   
  }
  