@import "util/variables";
@import "util/mixins";

header{
  height: 80px;
  width: 100vw;
  background:$background-color;
  border-bottom: 1px solid $primary-color;
  display: flex;
  align-items: center;

  .navbar{
    width: 80vw;
    margin: auto;
    display: flex;
    justify-content: space-between;

    .nav-items{
      display: flex;
      align-items: center;

      .nav-item{
        list-style: none;
        padding: 0 20px;

        .nav-link{
          cursor: pointer;
          text-decoration: none;
          @include font-styles;

          &.active{
            color: $dark-shade-primary ;
          }
        }

      }

    }

  }

}
.select-container{
  display: flex;
  align-items: center;

  select{
    cursor: pointer;
      margin-right: 50px;
      border: none;
      background: none;
      color: $primary-color;
      outline: none;

      option{
        border: none;
        background: none;
      }
  }

}
