<header class="header">

    <nav class="navbar">

        <ul class="nav-items">

            <li class="nav-item">

                <a class="nav-link " routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                    <mat-icon>home</mat-icon>
                </a>

            </li>

            <li class="nav-item" *ngIf="activeUser">

                <a class="nav-link " routerLink="/trainings" routerLinkActive="active">
                    {{ 'trainings' | translate }}
                </a>

            </li>

            <li class="nav-item" *ngIf="activeUser">

                <a class="nav-link" routerLink="/profile" routerLinkActive="active">
                    {{ 'profile' | translate}}
                </a>

            </li>


            <li class="nav-item" *ngIf=" activeUser && isAdmin ">

                <a class="nav-link" routerLink="/admin" routerLinkActive="active">
                    {{ 'admin' | translate }}
                </a>

            </li>

            <li class="nav-item" *ngIf=" activeUser ">

                <a class="nav-link" routerLink="/stats" routerLinkActive="active">
                    {{ 'statistics' | translate }}
                </a>

            </li>


        </ul>

        <ul class="auth-navbar nav-items " >

            <li class="nav-item" *ngIf="!activeUser; else logOut">

                <a class="nav-link" routerLink="/login" routerLinkActive="active">
                    {{ 'login' | translate }}
                </a>

            </li>

            <ng-template #logOut>

                <li class="nav-item" (click)="onSignOut()">

                    <a class="nav-link">
                        {{ 'signOut' | translate}}
                    </a>

                </li>

            </ng-template>

        </ul>

        
        
    </nav>
    <div class="select-container">
        <select (change)="changeLang($event)">
            <option value="en" [selected]="lang === 'en'" >En</option>
            <option value="ru" [selected]="lang === 'ru'"  >Rus</option>
        </select>
    </div>

</header>