@mixin font-styles{
    color: $primary-color;
    font-size: 18px;
    letter-spacing: 3px;
    text-transform: uppercase;
}

@mixin dFlex-colomn-center{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

@mixin dFlex-row-center{
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin dFlex-colomn-justify-between{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

@mixin dFlex-colomn-justify-center{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

@mixin dFlex-colomn-align-center{
    display: flex;
    align-items: center;
    flex-direction: column;
}