$primary-color: #6DB06D;
$dark-shade-primary:#407740;
$medium-light-shade-primary:#7AB87A;
$light-shade-primary:#BCDCBE;
$medium-light-primary:#E4F1E4;
$background-color: #F2F8F2;
$warning-color:#ED553B;
