@import "util/variables";

.profile-container{
    margin-top: 100px;

    .mat-card{
        background: none;
        box-shadow: none;
        padding: 2rem 1rem;
    }

    .profile-card-content{
        display: flex;
        color: $primary-color;
    
        img{
            width: 40%;
            height: 100%;
            object-fit: cover;
            min-height: 400px;
            padding-left: 1rem;
            border-radius: 10px;
            margin: 0;
        }

        .card-content{
            width: 100%;
            padding-left: 2rem;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;

            .status{
                text-transform: capitalize;
            }
        }

    }


    .mat-card-header{
        .mat-card-title{
            color: $primary-color;
            font-weight: 400;
            font-size: 2rem;
        }
        
        .mat-card-subtitle{
            margin-top: 1rem;
            color: $primary-color;
            font-weight: 300;
            font-size: 1.1rem;
        }
    }


    .about-section{
        .about{
            margin-top: 20px;
        }
    }

    .profile-header{
        display: flex;
        justify-content: space-between;

        .edit-profile-btn{
            background: none;
            border: none;
            cursor: pointer;
            color: $light-shade-primary;
            display: flex;
            align-items: center;

            &:hover{
                transition: all ease-in-out .5s;
                color: $dark-shade-primary;
            }

            span{
                margin-left: 5px;
            }
        }
    }
    

}

.full-content{
    cursor: pointer;
    font-weight: 300;
    font-style: italic;
    margin-left: 7px;
    transform: translateY(7px);

    &:hover{
        text-decoration: underline;
    }
}