<div class="profile-container">

    <mat-card class="profile-card">

        <div class="profile-header">

            <mat-card-header>

                <mat-card-title>{{ activeUser.name }} {{ activeUser.surname }}</mat-card-title>

            </mat-card-header>

            <button type="button" class="edit-profile-btn" (click)="openEditMode()">

                <mat-icon>edit</mat-icon>
                <span>Edit Profile</span>

            </button>

        </div>


        <div class="profile-card-content">

            <img mat-card-image src="{{ activeUser.pic ? activeUser.pic : activeUserPic }}" alt="Profile Photo">

            <mat-card-content class="card-content">

                <p class="status">Status: {{ activeUser.status }} </p>

                <p class="date-of-birth" *ngIf="activeUser.dateOfBirth">
                    Date of birth: {{ activeUser.dateOfBirth | date}}
                </p>

                <p class="score" *ngIf="activeUser.score">Score: {{ activeUser.score }} </p>

                <p class="contact-info" *ngIf="activeUser.contactInfo">Contact-info: {{ activeUser.contactInfo }}</p>

                <p class="email">Email: {{ activeUser.email }}</p>

                <p class="passed-tests" *ngIf="activeUser.passedTests">Passed Tests: </p>



                <mat-chip-list aria-label="passed tests" *ngIf="activeUser.passedTests">

                    <ng-container *ngIf="displayPartialy;else fullContent">
                        <mat-chip color="accent" *ngFor="let tests of activeUser.passedTests | displayPartialy:4"
                            selected>
                            {{ tests.title }}
                        </mat-chip>
                    </ng-container>

                    <ng-template #fullContent>
                        <mat-chip color="accent" *ngFor="let tests of activeUser.passedTests" selected>
                            {{ tests.title }}
                        </mat-chip>
                    </ng-template>


                    <small class="full-content" *ngIf="activeUser.passedTests.length > 5"
                        (click)="displayPartialy = !displayPartialy">
                        {{ displayPartialy ? '...More' : '...Less' }}
                    </small>

                </mat-chip-list>

                <div class="about-section" *ngIf="activeUser.about">

                    <p class="about">About:</p>

                    <p class="short-info">
                        {{ activeUser.about }}
                    </p>

                </div>

            </mat-card-content>
        </div>

    </mat-card>

    <ng-container *ngIf="activeUser.passedTests.length > 0">

        <app-profile-table [activeUser]="activeUser" [passedTests]="activeUser.passedTests">
        </app-profile-table>

    </ng-container>

</div>