@import "util/variables";


.dialog-container{
    min-width: 70vw;
    min-height: 60vh;
    padding: 1rem;
    background: $light-shade-primary;
    font-size: 18px;
    color: white;

    form{
        display: flex;
        flex-direction: column;
        margin: 50px auto;
        width: 90%;

        select{

            option{
                text-transform: capitalize;
            }
        }

        .close-dialog-btn{
            position: absolute;
            right: 10px;
            top: 10px;
            background: none;
            border: none;
        }

        .save-btn{
            background: $medium-light-shade-primary;
            text-transform: uppercase;
            letter-spacing: 2px;
            color: white;
        }
    }

}
