<div class="dialog-container">

    <form (ngSubmit)="onSave()" #form="ngForm">

        <button mat-icon-button type="button" (click)="onClose()" class="close-dialog-btn">
            <mat-icon>close</mat-icon>
        </button>

        <mat-form-field appearance="fill">
            <mat-label>Title</mat-label>
            <input matInput type="text" name="title" [(ngModel)]="quizz.title" required>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Category</mat-label>
            <mat-select name="category" [(ngModel)]="quizz.category" required>
                <mat-option value="{{ item }}" *ngFor="let item of category">{{ item }}</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Difficulty</mat-label>
            <mat-select name="difficulty" required [(ngModel)]="quizz.difficulty">
                <mat-option value="{{ item }}" *ngFor="let item of difficulty">{{ item }}</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Time in Minutes</mat-label>
            <input matInput type="number" name="time" [(ngModel)]="quizz.time" required min="1" max="45">
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Desctription</mat-label>
            <textarea matInput type="text" name="description" [(ngModel)]="quizz.description"
                placeholder="Min lenght 50 | Max lenght 150" minlength="50" maxlength="150" required></textarea>
        </mat-form-field>


        <button mat-raised-button type="submit" class="save-btn" [disabled]="!form.valid">
            Save
        </button>

    </form>

</div>